<footer class="footer-main bg-dark">
	<div class="container">
		<div class="row address-main">
			<div class="col-lg-4 col-sm-12 col-xs-12">
				<div class="address-box clearfix">
					<div class="add-icon">
						<i class="fa-solid fa-location-dot fa-2xl text-white"></i>
					</div>
					<div class="add-content">
						<h5>Address</h5>
						<p>
							75 PARK PLACE 8TH FLOOR NEW YORK NY 10017. United States.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 col-xs-12">
				<div class="address-box clearfix">
					<div class="add-icon">
						<i class="fa-solid fa-phone fa-2xl text-white"></i>
					</div>
					<div class="add-content">
						<h5>Phone</h5>
						<p>
							+(1) 000000000 <br/>
							+(1) 000000000
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 col-xs-12">
				<div class="address-box clearfix">
					<div class="add-icon">
						<i class="fa-solid fa-envelope fa-2xl text-white"></i>
					</div>
					<div class="add-content">
						<h5>Email</h5>
						<p>
							<a href="mailto:" style="text-decoration:none">service@supermarkit.lan</a><br>
							<a href="mailto:" style="text-decoration:none">livraison@supermarkit.lan</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="bg-dark text-center text-white">
		<div class="container p-4 pb-0">
			<section class="mb-4">
				<a class="btn btn-outline-light btn-floating m-1" href="#">
					<i class="fa-brands fa-facebook-f"></i>
				</a>
				<a class="btn btn-outline-light btn-floating m-1" href="#">
					<i class="fa-brands fa-x-twitter"></i>
				</a>
				<a class="btn btn-outline-light btn-floating m-1" href="#">
					<i class="fa-brands fa-google"></i>
				</a>
				<a class="btn btn-outline-light btn-floating m-1" href="#">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</section>
		</div>
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			super markit © 2023 All Rights Reserved.
		</div>
	</footer>
</footer>
