.flex-container {
    display: flex;
    width: 100%;
    max-width: 100rem;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.image-container {
    display: none;
    background-size: cover;
    background-image: url('/img/e-commerce.jpg');

    @media (min-width: 1024px) {
        display: block;
        width: 50%;
    }
}

.content-container {
    padding: 2rem 1.5rem;
    width: 100%;

    @media (min-width: 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.logo {
    width: auto;
    height: 6rem;

    @media (min-width: 640px) {
        height: 8rem;
    }
}

.welcome-text {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #4B5563;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.button-text {
    width: 83%;
    font-weight: 700;
    text-align: center;
}

.separator {
    border: 0.5px solid #888888;
    width: 20%;

    @media (min-width: 1024px) {
        width: 25%;
    }
}

.email-login {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    color: #6B7280;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #4B5563;
}

.forget-password {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6B7280;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.sign-up {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6B7280;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/*footer*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body-container {
    flex: 1;
}

.footer-main {
    margin-top: 90px;
    padding-top: 90px;
    flex-shrink: 0;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}

.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}

.add-icon {
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0 5px;
}

.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}

.add-icon img {
    width: 100%;
}

.address-box .add-icon img {
    max-width: 40px;
}

.add-content {
    padding-left: 70px;
}

.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}

.add-content p a {
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;

    &:hover {
        color: white;
        font-weight: bold;
    }
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}


/* card product */

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin: 50px auto;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .img-card-product-container {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .img-card-product-container ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .img-card-product-container ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .img-card-product-container ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .img-card-product-container ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .img-card-product-container ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .card-product-detail .product-title {
    font-size: 1rem;
}

.section-products .single-product .card-product-detail h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .card-product-detail .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .card-product-detail .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}
