<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	<link rel="icon" href="{{ asset('/img/Logo.png') }}">
	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %}
</head>
<body>
{% block navbar %}
	{% include 'includes/navbar.html.twig' %}
{% endblock %}

<div id="body-container">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show mt-5 mb-3 m-auto w-75 d-flex align-items-center"
			 role="alert">
			<i class="fa-regular fa-circle-check fa-lg px-3"></i>
			<div class="">{{ message }}</div>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger alert-dismissible fade show mt-5 mb-3 m-auto w-75 d-flex align-items-center"
			 role="alert">
			<i class="fa-regular fa-circle-xmark fa-lg px-3"></i>
			<div class="">{{ message }}</div>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% block body %}{% endblock %}
</div>

{% block footer %}
	{% include 'includes/footer.html.twig' %}
{% endblock %}
</body>
</html>
