{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
	{% if order.orderStatus ==  constant('App\\Entity\\ORDER::STATUS_UNPAID_ORDER') %}
		<div class="alert alert-danger alert-dismissible fade show mt-3 mb-5 m-auto w-75 d-flex align-items-center"
			 role="alert">
			<i class="fa-regular fa-circle-xmark fa-lg px-3"></i>
			<div class="">
				You have {{ (date(order.createdAt|date_modify("+7 day")).diff(date('now'))).days }} days left to pay the
				order otherwise it will be deleted
			</div>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endif %}
	<div class="card shadow w-75 m-auto p-4 border-0 mt-4">
		<div class="col">
			<div class="d-flex justify-content-between align-items-center p-2">
				<h4><b>#ORDER-{{ order.id }}</b></h4>
				<a href="{{ path('app_order') }}" class="btn btn-secondary">
					<i class="fa-solid fa-arrow-left fa-beat fa-lg me-2"></i>
					<span>back to order</span>
				</a>
			</div>
			{% if order.orderStatus ==  constant('App\\Entity\\ORDER::STATUS_UNPAID_ORDER') %}
				{% include 'order/order_unpaid.html.twig' %}
			{% else %}
				{% include 'order/order_paid.html.twig' %}
			{% endif %}
		</div>
	</div>
{% endblock %}
