{% extends 'base.html.twig' %}

{% block title %}Payment cancel{% endblock %}

{% block body %}
	<div class="container d-flex align-items-center justify-content-center mt-5">
		<div class="shadow p-5 rounded">
			<div class="d-flex flex-column justify-content-center align-items-center row-gap-3">
				<svg class="text-danger" style="width: 7rem; height: 7rem"
					 data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24"
					 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round"
						  d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
				</svg>
				<h1 class="fw-bold fs-5">Error</h1>
				<p class="lead">
					Your payment could not be processed successfully.
				</p>
				<div class="d-flex justify-content-between align-items-center w-100">
					<a href="{{ path('app_home') }}" class="btn btn-secondary">
						<i class="fa-solid fa-arrow-left fa-beat fa-lg me-2"></i>
						<span>back to shop</span>
					</a>
					<a href="{{ path('app_create_session_stripe', {'id': order.id}) }}" class="btn btn-outline-success">
						<span class="me-2">Try again</span>
						<i class="fa-solid fa-cart-shopping fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
